cachetools==5.3.3 ; python_version >= "3.10" and python_version < "4.0"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "4.0"
google-analytics-data==0.18.8 ; python_version >= "3.10" and python_version < "4.0"
google-api-core[grpc]==2.19.0 ; python_version >= "3.10" and python_version < "4.0"
google-auth==2.29.0 ; python_version >= "3.10" and python_version < "4.0"
googleapis-common-protos==1.63.0 ; python_version >= "3.10" and python_version < "4.0"
grpcio-status==1.62.2 ; python_version >= "3.10" and python_version < "4.0"
grpcio==1.63.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.7 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
mypy==1.10.0 ; python_version >= "3.10" and python_version < "4.0"
proto-plus==1.23.0 ; python_version >= "3.10" and python_version < "4.0"
protobuf==4.25.3 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.11.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
